--extra-index-url https://download.pytorch.org/whl/cu121

# Core
torch
torchvision
torchaudio

# ML / NLP
numpy
pandas
scikit-learn
sentence-transformers
einops
datasets
accelerate
peft
bitsandbytes

# Logging
wandb
